<div class="body-container">
    <div class="title-container">
        <h2>Carga tu STM facil y en pocos minutos!</h2>
    </div>
    
    <div class="torso-container">
        <ol class="list-style">
            <li>Ingrese su numero de documento</li>
            <li>Seleccione el tipo de STM que desea cargar</li>
            <li>Indique el monto o cantidad de boletos segun corresponda</li>
        </ol>
        <p>Listo! Con estos tres simples pasos tendra su STM con saldo nuevamente sin necesidad de hacer fila en el abitab de mierda</p>
    </div>
    <div class="btn-container">
        <!-- <button [replaceUrl]="true" [routerLink]="['/form-fill']" class="fill-btn"></button> -->
        <button class="fill-btn" mat-raised-button  [replaceUrl]="true" [routerLink]="['/form-fill']" >Carga tu STM aqui</button>
    </div>
</div>