<div class="form-container">

    <div class="title-container">
        Complete con su informacion para realizar la recarga
    </div>

    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="formGroup" class="form-styles">
        <div class="body-container">
            
            <label class="label-style">Documento de Identidad</label>
            <input type="text" id="documentNumber" FormControlName="documentNumber" placeholder="x.xxx.xxx-x">
            <div class="error" *ngIf="formGroup.get('documentNumber')?.hasError('required') && formGroup.get('documentNumber')?.touched">
                El numero de documento es requerido
            </div>
            
            <label class="label-style">Seleccione el tipo de tarjeta</label>
            <select id="card-type" formControlName="cardType" (change)="onSelectCardType()">
                <option [ngValue]="" disabled [selected]="true">Seleccione una opcion</option>
                <option *ngFor="let type of cardTypes" >{{type}}</option>
            </select>

            <!-- to be changed for a component in the future -->
                <div class="commonCard" *ngIf="isCardTypeSelected">
                    <label class="label-style">{{ inputTitle }}</label>
                    <input placeholder="500" type="number">
                </div>
            <!-- to be changed for a component in the future -->

        </div>
    </form>
    <app-submit-form></app-submit-form>
</div>